altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
smmap
streamlit
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
